<mat-sidenav-container>
  <mat-sidenav opened mode="side"
    [style.width]="collapsed() ? '64px' : '240px'">

    <div class="sidenav-title">
      @if (!collapsed()) {
        <span class="title-text">Judgement Bingo</span>
      }
      <button mat-icon-button (click)="toggleCollapsed()">
        <mat-icon>{{ collapsed() ? 'menu' : 'menu_open' }}</mat-icon>
      </button>
    </div>

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/games']">
        <mat-icon matListItemIcon>arrow_back</mat-icon>
        @if (!collapsed()) {
          <span matListItemTitle>Back to games list</span>
        }
      </a>

      <mat-divider />

      <a mat-list-item class="sidenav-item" [routerLink]="['/games', gameId()]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon matListItemIcon>info</mat-icon>
        @if (!collapsed()) {
          <span matListItemTitle>Overview</span>
        }
      </a>
      <a mat-list-item class="sidenav-item" [routerLink]="['/games', gameId(), 'prompts']" routerLinkActive="active">
        <mat-icon matListItemIcon>chat</mat-icon>
        @if (!collapsed()) {
          <span matListItemTitle>Prompts</span>
        }
      </a>
      <a mat-list-item class="sidenav-item" [routerLink]="['/games', gameId(), 'card']" routerLinkActive="active">
        <mat-icon matListItemIcon>grid_on</mat-icon>
        @if (!collapsed()) {
          <span matListItemTitle>Card</span>
        }
      </a>
      <a mat-list-item class="sidenav-item" [routerLink]="['/games', gameId(), 'admin']" routerLinkActive="active">
        <mat-icon matListItemIcon>settings</mat-icon>
        @if (!collapsed()) {
          <span matListItemTitle>Admin</span>
        }
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
